autocommand==2.2.2
irc==20.5.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.logging==3.3.0
jaraco.stream==3.0.4
jaraco.text==4.0.0
more-itertools==10.6.0
PySide6==6.8.3
PySide6_Addons==6.8.3
PySide6_Essentials==6.8.3
python-dateutil==2.9.0.post0
pytz==2025.2
shiboken6==6.8.3
six==1.17.0
tempora==5.8.0
